[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
#"10bc447" = {path = "/Users/julianp/dev/spikes/dat_research", editable = true}
click = "*"
sphinx = "*"
coverage = "*"
"flake8" = "*"
python-dotenv = ">=0.5.1"
"e1839a8" = {path = ".", editable = true}

[requires]
python_version = "3.6"
